<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="home">
  <div class="content">
    <h1>{{welcometext}}</h1>
    <p>
      This is your home page. You can start editing <code>home.component.html</code>
      to build something amazing 🚀
    </p>
    <p>{{greetings()}}</p>
    <button class="cta">{{homebutton()}}</button>
  </div>
</section>
    <app-child/>
    <app-counter/>
    <!-- <button (click)="sendMessage()">Send Message to Parent</button> -->
</body>
</html>